<header class="headroom headroom-pinned headroom-unpinned">
  <nav class="inline-menu">
    <ul class="inline-menu__list">
      {{#each headerMenuItems}}
        <li class="inline-menu__item">
          <a class="inline-menu__link" href="{{this.link}}">{{this.text}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</header>
